{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <div class="form card-body">
        <h2 class="title">Login</h2>
        <form method="post" action="">
            {% csrf_token %}
            <div class="input-group">
                <input class="input--style-2" type="text" placeholder="Username" name="username">
            </div>
            <div class="input-group">
                <input class="input--style-2" type="password" placeholder="Password" name="password">
            </div>
            <div class="p-t-30">
                <input class="btn-primary" type="submit" value="{% trans 'Log in' %}"/>
                <input type="hidden" name="next" value="{{ next }}"/>
                <p class=" text-center mt-3">{% trans "Forgot your password?" %}
                    <a style="text-decoration: none;" href="{% url 'auth_password_reset' %}">
                        {% trans "Reset it" %}
                    </a>
                </p>
                <p class=" text-center mt-3">{% trans "Not a member?" %}
                    <a style="text-decoration: none;" href="{% url 'registration_register' %}">
                        {% trans "Register" %}
                    </a>.
                </p>
            </div>
        </form>
    </div>
{% endblock %}

