{% extends 'layouts/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>
        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/5.jpg' %})">
            <div class="auto-container">
                <h2>Card</h2>
                <ul class="page-breadcrumb">
                    <li><a href="{% url 'products:home' %}">home</a></li>
                    <li>Card</li>
                </ul>
            </div>
        </section>

        {#        <section class="shopping-cart spad">#}
        {#            <div class="container">#}
        {#                <div class="row">#}
        {#                    <div class="col-lg-8">#}
        {#                        <div class="shopping__cart__table">#}
        {#                            <table>#}
        {#                                <thead>#}
        {#                                <tr>#}
        {#                                    <th>Product</th>#}
        {#                                    <th>Quantity</th>#}
        {#                                    <th>Total</th>#}
        {#                                    <th></th>#}
        {#                                </tr>#}
        {#                                </thead>#}
        {#                                <tbody>#}
        {#                                {% for product in object_list %}#}
        {#                                    <tr>#}
        {#                                        <td class="product__cart__item">#}
        {#                                            <div class="product__cart__item__text">#}
        {#                                                <h6>{{ product.title }}</h6>#}
        {#                                                <h5>${{ product.real_price }}</h5>#}
        {#                                            </div>#}
        {#                                        </td>#}
        {#                                        <td class="quantity__item">#}
        {#                                            <div class="quantity">#}
        {#                                                <div class="pro-qty-2">#}
        {#                                                    <input type="text" value="1">#}
        {#                                                </div>#}
        {#                                            </div>#}
        {#                                        </td>#}
        {#                                        <td class="cart__price">${{ product.real_price }}</td>#}
        {#                                        <td class="cart__close">#}
        {#                                            <a href="{% url 'products:add-to-cart' pk=product.pk %}?next={{ request.path }}">#}
        {#                                                <i class="fa fa-close"></i>#}
        {#                                            </a>#}
        {#                                        </td>#}
        {#                                    </tr>#}
        {#                                {% endfor %}#}
        {#                                </tbody>#}
        {#                            </table>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div class="col-lg-4">#}
        {#                        <div class="cart__discount">#}
        {#                            <h6>Discount codes</h6>#}
        {#                            <form action="#">#}
        {#                                <input type="text" placeholder="Coupon code">#}
        {#                                <button type="submit">Apply</button>#}
        {#                            </form>#}
        {#                        </div>#}
        {#                        <div class="cart__total">#}
        {#                            <h6>Cart total</h6>#}
        {#                            <ul>#}
        {#                                <li>Subtotal <span>$ {% cart_price request %}</span></li>#}
        {#                                <li>Total <span>$ {% cart_price request %}</span></li>#}
        {#                            </ul>#}
        {#                            <a href="{% url 'order:create' %}" class="primary-btn">Proceed to checkout</a>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </section>#}
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>

                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}