{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/5.jpg' %})">
            <div class="auto-container">
                <h2>History</h2>
                <ul class="page-breadcrumb">
                    <li><a href="{% url 'products:home' %}">Home</a></li>
                    <li>History</li>
                </ul>
            </div>
        </section>

        <div class="container ml-3 m-2"><h2>Your History</h2></div>

            <table class="mb-5 table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>


    </div>
{% endblock %}